{% extends "base.html" %}
{% load static %}
{% block title %}Product Line{% endblock %}
{% block content %}

<div id="main" class="product-list">
	<h1>Product Line</h1>
	{% for productline in productlines %}
	<div class="item">
		<a href="{% url 'product:detail_productline' productline.id %}">
			<img class="image_size" src="{% if productline.photo %}{{ productline.photo.url }}{% else %}
	{% static 'image/noimage.png' %}{% endif %}">
		</a>
		<a href="{% url 'product:detail_productline' productline.id %}">{{ productline.product_name }}</
		a><br>
		${{ productline.description }}
	</div>
	{% endfor %}
</div>
{% endblock %}


