{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Chekkit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- from chekkit frontend -->
  <link rel="stylesheet" href="{% static 'frontend/node_modules/font-awesome/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'frontend/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'frontend/node_modules/flag-icon-css/css/flag-icon.min.css' %}" />
  <link rel="stylesheet" href="{% static 'frontend/css/style.css'%}" />
</head>
<body>

	<nav class="navbar">
		<!-- <a class="navbar-brand brand-logo" href="#">logo
				<img src="#" alt="Logo" style="width:40px;">
		</a> -->
		<a href="/">Chekkit</span>
		<a href="{% url 'product:add_productlines'%}">Create Product Line</a>
		<a href="{% url 'product:generate_product_codes'%}">Generate Product Code(s)</a>

	</nav>


	<!-- side bar -->
	
			<!-- end of side bar -->
<body>
		<div id="header">
			<a href="/" class="logo">My shop</a>
		</div>

			<!-- search bar -->
				<nav class="navbar navbar-expand-sm bg-dark  navbar-dark">
				  <form class="form-inline" action=".">
				    <input class="form-control mr-sm-2" type="text" placeholder="Search">
				    <button class="btn btn-success" type="submit">Search</button>
				    <button type="button" class="btn btn-outline-warning mr-2"><a href="{% url 'product:add_productlines'%}">Create Product Line</a></button>
				  <button type="button" class="btn btn-outline-warning mr-2"><a href="{% url 'product:generate_product_codes'%}">Generate Product Code(s)</a></button>

				  </form>
				</nav>

			<!-- end search bar -->
			
		<div id="content">
			<br>
			{% block content %}
			{% endblock %}
		</div>
	
</body>
</html>